{{#if this}}
	{{#each this}}
	<div class='sq-kpi squid-api-data-widgets-kpi-widget'>
		<div class="name">
	        {{name}}
	    </div>
		<div>
			<span class="value">{{value}}</span>
			<span class="unit">{{unit}}</span>
		</div>
		{{#if compareToValue}}
		<div>
			<span class="compareToValue">{{compareToValue}}</span>
			<span class="unit">{{unit}}</span>
		</div>
		{{/if}}
	</div>
	{{/each}}
{{else}}
	{{#if done}}
  		<span data-i18n="noDataMessage">No Data</span>
  	{{else}}
  		<span data-i18n="computing">Computing</span>
  	{{/if}}
{{/if}}
