<div class="squid-api-export-scheduler-index-view table-responsive">
    <button class="btn btn-default create-job">New Schedule</button>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="col-xs-1">Report</th>
                <th class="col-xs-3">Report Settings</th>
                <th class="col-xs-3">Schedule Settings</th>
                <th class="col-xs-2">Delivered to</th>
                <th class="col-xs-1">Run Now</th>
                <th class="col-xs-1">Edit</th>
                <th class="col-xs-1">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each jobs}}
                <tr class="job-item" data-attr={{_id}}>
                    <td>{{reportName}}<div class="hidden">{{_id}}</div></td>
                    <td>
                   		{{#reportSelection}}
                    	{{.}}<br>
                    	{{/reportSelection}}
                    </td>
                    <td>Format: {{report.format}}<br>Usage period: {{report.period.length}}<br>Frequency: Every {{scheduling.frequency}}<br>Next Delivery: {{nextExecutionDate}}</td>
                    <td>
                    	{{#emails}}
                    	{{.}}<br>
                    	{{/emails}}
                    </td>
                    <td><button class="btn btn-secondary run-job"><i class="fa fa-play"></i></button></td>
                    <td><button class="btn btn-secondary edit-job"><i class="fa fa-pencil-square-o"></i></button></td>
                    <td><button class="btn btn-secondary delete-job"><i class="fa fa-trash-o"></i></button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
