{{#if this}}
	{{#each this}}
	<div class='sq-kpi squid-api-data-widgets-kpi-widget'>
		<div class="name">
	        {{name}}
	    </div>
		<div>
			<span class="value">{{value}}</span>
			<span class="unit">{{unit}}</span>
		</div>
	</div>
	{{/each}}
{{else}}
	{{#if done}}
  		No Data
  	{{else}}
  		Computing
  	{{/if}}
{{/if}}